*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
html,body{
    background-color: #F6F8FC;
    height: 100%;
}
/*essenciais*/
.painel-block{
    display: block !important;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.qntValues{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #000;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    font-family: "Poppins";
}
.w50{
    width: 50% !important; 
}
.w50S{
    width: calc(50% - 20px) !important;
}
.p6{
    padding: 6px 0;
}
.p10{
    padding: 10px 0;
}
.montserrat{
    font-family: "Montserrat" !important;
}
.poppins{
    font-family: "Poppins" !important;
}
.ftw500{
    font-weight: 500 !important;
}
.ln-4{
    line-height: 1.4 !important;
}
.mr-2{ 
    margin-right: 20px !important;
}
.ml-2{
    margin-left: 20px !important;
}
.mrt-30{
    margin-top: 30px;
}
.header a{
    display: none;
}
.text-center{text-align: center;}
.center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}
.flex{
    display: flex;
}
/*login - form*/
.login-content{
    width: 600px;
    padding: 30px 0;
    background-color: #fff;
    border-radius: 22px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
.login-content a{
    font-size: 22px;
    position: relative;
    top: -10px;
    left: 10px;
    text-decoration: none;
    color: #333;
    display: flex;
    font-family: 'Poppins';
    align-items: center;
}
.form-login,.register-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-login input:not(input[type='submit']),.register-form input:not(input[type='submit']){
    width: 80%;
    margin: 10px 0;
    padding: 12px 2%;
    border-radius: 8px;
    border: 1px solid rgb(200 200 200 / 50%);
    font-family: "Oxygen";
}
.form-login input[type='submit'],.register-form input[type='submit']{
    margin-top: 10px;
    border: 0;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #ccc;
    font-size: 22px;
    font-family: "Oxygen";
    padding: 2px 12px;
    border-radius: 8px;
}
.flex p{
    margin-top: 15px;
    margin-left: 20px;
    font-family: "Oxygen";
}
.flex p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.table .flex p:hover{
    cursor: default;
    text-decoration: none;
}
.login{
    text-align: center;
    padding-bottom: 10px;
}
.register-form{
    display: none;
}
.error{
    background-color: #d80e0e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 20px;
    display: block ;
    text-align: center;
}
.error > p{
    font-size: 16px;
    padding: 6px 0;
}
.sucesso{
    text-align: center;
    background-color: lightgreen;
    color: #fff;
    border-radius: 12px;
    padding: 5px 10px;
    margin-bottom: 20px;
    display: block;
}
.verify-code{
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    padding: 25px 2%;
    background-color: #fff;
    border-radius: 22px;
    margin-top: 40px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
.verifycode{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.verify-code input:not(input[type='submit']){
    padding: 10px 2%;
    border: 0;
    border: 1px solid rgb(200 200 200 / 50%);
    border-radius: 12px;
    outline: none;
}
.verify-code input[type="submit"]{
    margin-left: 20px;
    border: 0;
    background-color: lightgreen;
    color: #fff;
    font-family: "Poppins";
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}
.reenviar-code input[type="submit"]{
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
    background-color: transparent;
    color: #ccc;
    pointer-events: none;
}
.contagem{
    color: #ccc;
    pointer-events: none;
}
.reenviar-code input[type="submit"]:hover{
    text-decoration: underline;
}
/*main - logado ///////////////////////////////////////////////////////*/
.main{
    width: 100%;
    max-height: 100vh;
    height: 100vh;
}
.flex-main{
    display: flex;
    max-height: 100%;
    height: 100%;
}
.menu{
    width: 200px;
    height: 100%;
    background-color: #333;
    box-shadow: 4px 0px 8px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main__content{
    width: calc(100% - 200px);
    overflow-y: scroll;
    max-height: 100vh;
    padding-bottom: 30px
}
.main__content::-webkit-scrollbar{
    width: 6px;
    background-color: #F6F8FC;
}
.main__content::-webkit-scrollbar-thumb{
    background-color: #536885;
    border-radius: 22px;
}
.menu > h2{
    color: #fff;
    font-family: "Poppins";
    padding: 20px 0;
    margin-bottom: 20px;
    text-shadow: 3px 3px 1px #b4b4cc;
    width: 100%;
    border-bottom: 3px solid #fff;
}
.header{
    width: 100%;
    background-color: #fff;
    padding: 24.3px 0;
}
.header > .container{
    max-width: 1600px;
}
.header h2{
    color: #2E2E21;
    font-family: "Montserrat";
    font-weight: 500;
}
.header h2 > b{
    font-family: "Montserrat";
    position: relative;
    cursor: default;
}
.header h2 > b::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    border-radius: 50px;
    width: 40%;
    height: 2px;
    background-color: #000;
    transition: all .5s ease 0s;
}
.header h2 > b:hover::before{
    width: 100%;
}
.menu nav{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul{
    list-style-type: none;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
nav ul li a{
    font-size: 28px;
    color: #fff;
}
.perfil{
    min-width: 120px;
    min-height: 120px;
    position: relative;
    border-radius: 50%;
    border: 2px solid #cccccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.img-usuario{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cargo{
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    text-transform: lowercase;
}
.close{
    font-size: 28px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.close > a{
    color: #fff;
}
.fa-door-closed,.fa-door-open{
    transition: all .5s ease 0s;
}
.selected{
    color: #cf1dcf;
}
.main__content > .container{max-width: 1600px;}
.box-content{
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 22px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    margin-top: 40px;
}
.content-main .content{
    padding-top: 10px;
    width: 33%;
}
.content h2{
    font-family: "Poppins";
    font-weight: 500;
    padding: 10px 2%;
    margin: 0 10px;
    color: #fff;
}
.content:first-child h2{
    background-color: rgb(253,176,58);
}
.content:nth-of-type(2) h2{
    background-color: #ED684F;
}
.content:last-child h2{
    background-color: #00925B;
}
.cargo-2{
    background-color: #35363A ;
    color: #fff;
}
.cargo-1{
    background-color: #C7D2EB;
    color: #000;
}
/*ADMIN*/
.graficos ~ p{
    padding: 6px 0;
    color: #fff;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
}
.graficos ~ p:nth-of-type(1){
    margin-top: 10px;
}
.inserir,.alterarUsuario,.delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.inserir input:not(input[type="submit"]),.alterarUsuario input:not(input[type="submit"]),.delete input:not(input[type="submit"]){
    width: 100%;
    margin: 8px 0;
    padding: 6px 2%;
    border: 0;
    border: 2px solid #36A2EB;
    background-color: #fff;
    border-radius: 12px;
    outline: none;
}
.inserir input[type='submit'], .alterarUsuario input[type='submit']{
    font-size: 18px;
    margin-top: 6px;
    background-color: #35363A;
    padding: 4px 12px;
    color: #fff;
    border-radius: 6px;
    border: 0;
    border: 2px solid #36A2EB;
    cursor: pointer;
}
.delete input[type="submit"]{
    background-color: lightcoral;
    color: #fff;
    font-size: 18px;
    margin-top: 6px;
    border: 0;
    padding: 4px 12px;
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
}
.config-site{
    margin: 20px 0;
}
.config-site > div > textarea{border: 1px solid #ccc !important;}
.config-site div input{
    border: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 2%;
}
.config-site > input{
    border: 0;
    background-color: rgb(35, 211, 202);
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    padding: 4px 12px;
    border-radius: 6px;
}
.singlecat{
    text-decoration: none;
    background-color: #7c7cf1;
    color: #fff;
    border-radius: 22px;
    margin: 0 6px;
    padding: 2px 6px;
    box-shadow: 1px 3px 1px rgb(87, 87, 231);
    transition: all .5s ease 0s;
}
.singlecat:hover{
    box-shadow: 2px 4px 1px rgb(87, 87, 231);
    border-radius: 0;
}
.tox-tinymce{
    width: 100%;
}
.retirarMargin, .retirarMargin ~ p , .retirarMargin ~ ul li{
    margin-left: 0 !important;
    margin-top: 6px !important;
    font-size: 16px;
    font-weight: 500;
    list-style: inside;
}
.retirarMargin ~ img, .retirarMargin > img, .retirarMargin ~ p > img, .retirarMargin  ~ p img, .retirarMargin p img, .retirarMargin p > img, .retirarMargin ~ ol li > img, .retirarMargin ~ ol li img, .retirarMargin ~ ol li ~ img, .retirarMargin ~ ol > img, .retirarMargin ~ ol ~ img, .retirarMargin ~ ol > img, .retirarMargin ~ ul li img, .retirarMargin ~ ul li > img{
    width: 200px;
    border-radius: 12px;
    height: auto;
}
.retirarMargin ~ ol li{
    margin-left: 0 !important;
    margin-top: 6px !important;
    font-size: 16px;
    font-weight: 500;
    list-style-type: decimal !important;
    list-style: inside;
}
.atualizar__form select{
    width: 50%;
    border: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 0;
    text-align: center;
    font-family: "Montserrat";
}
.categoria-EDIT .noticiasTitle{
    font-size: 20px;
    font-weight: 500;
}
.noticia-preview{
    width: 200px;
    border-radius: 12px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
/*MODERADOR*/
.form-dep{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}
.form-dep input:not(input[type='submit']),.form-dep textarea, .config-site > div > textarea{
    width: 100%;
    margin: 8px 0;
    padding: 6px 2%;
    border: 0;
    border-radius: 12px;
    resize: none;
}
.form-dep input[type='submit']{
    border: 0;
    font-size: 22px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #7c7cf1;
    color: #fff;
    cursor: pointer;
    padding: 4px 16px;
}
.pagina-selected{
    background-color: #ccc !important;
}
.pages-val{
    background-color: transparent;
    border: 1px solid #ccc;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    position: relative;
    text-align: center;
    padding: 2px 8px;
    border-radius: 6px;
    top: 10px;
    margin: 0 3px;
}
.editar-btn{
    background-color: orange;
    text-decoration: none;
    color: #fff;
    padding: 4px 12px;
    border-radius: 6px;
}
.order-item{
    background-color: rgb(33, 133, 247);
    color: #fff;
    padding: 2px 4px;
    border-radius: 6px;
    margin: 0 10px;
}
.titulo-session{
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 4px 0px rgb(0 0 0 / 8%);
}
/*NORMAL*/
.title{
    display: flex;
    align-items: center;
}
.title svg{
    margin: 0 6px;
    font-size: 18px;
}
.atualizar__form{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

}
.atualizar__form .form-group{
    padding: 10px 0;
}
.form-group{
    width: 100%;
}
.form-group label,.form-group [type='file'], .form-group input[type='submit']{
    font-family: "Poppins";
    font-weight: 500;
}
.form-group input:not(input[type='submit'],input[type='file']){
    padding: 6px 2%;
    width: 100%;
    border-radius: 12px;
    border: 0;
    border: 1px solid #ccc;
    outline: none;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
}
.form-group input[type='submit']{
    font-size: 18px;
    padding: 2px 16px;
    border: 0;
    background-color: #7c7cf1;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s ease 0s;
}
.form-group input[type='submit']:hover{
    box-shadow: 3px 4px 1px rgb(87, 87, 231);
    border-radius: 0px;
}
.sucessoAlert{
    display: block;
    padding: 20px 10px;
    top: 20px;
    right: 60px;
    position: fixed;
    z-index: 999;
    background-color: lightgreen;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
.errorAlert{
    display: block;
    padding: 20px 10px;
    top: 20px;
    right: 60px;
    position: fixed;
    z-index: 999;
    background-color: lightcoral;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
.alert{
    display: block;
    padding: 20px 10px;
    top: 20px;
    right: 60px;
    position: fixed;
    z-index: 999;
    background-color: rgb(255, 145, 0);
    color: #fff;
    border-radius: 6px;
    font-family: "Poppins";
    font-weight: bold;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
/*table*/
.table{
    border: 2px solid #f2f2f2;
    border-radius: 22px;
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
}
.leftTable{
    width: 50%;
}
.leftTable p:first-child, .rightTable p:first-child{
    padding: 6px 0;
    color: #333;
}
.rightTable{
    width: 50%;
}

/*resize ======================================================================*/
@media screen and (max-height: 600px){
    /*problema com menu height*/
    .menu{
        overflow-x: scroll;
    }
}
/*seguindo*/
@media screen and (max-width: 1000px){
    .box-content > .flex-main{
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-height: none;
        align-items: center;
        justify-content: space-between;
    }
    .content-main .content{
        width: 80%;
        padding: 10px 0;
    }
}
@media screen and (max-width: 960px){
    .content-main .flex{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .w50{width: 95% !important;}
    .w50S{width: 95% !important;}
    .mr-2{margin-right: 0 !important;}
    .ml-2{margin-left: 0 !important;}
    .box-content{width: 95%;margin: 0 auto !important;margin-top: 40px !important;}
    .config-site{align-items: start !important;}
    .config-site > div{
        flex-grow: 1;
        width: 100% !important;
    }
    .config-site > div > input, .config-site input {width: 50%;}
    .config-site > input{
        display: flex;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
    }
    .categoria-EDIT{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .categoria-EDIT > .flex{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
}
@media screen and (max-width: 800px){
    .perfil,.cargo{
        display: none;
    }
    .menu > h2{
        display: none;
    }
    .menu{
        width: 80px;
    }
    .main__content{
        width: 100%;
    }
    .cp-config .box-content{
        width: 95%;
    }
}

@media screen and (max-width: 740px){
    .login-content{
        width: 90%;
    }
    .verify-code{
        width: 90%;
    }
}
@media screen and (max-width: 500px){
    .menu{
        display: none;
        position: fixed;
        width: 90%;
        z-index: 5;
    }
    .perfil{
        margin-top: 50px;
    }
    .cargo,.perfil{
        display: flex;
    }
    .header h2{
        display: inline-block;
        font-size: 18px;
    }
    .header a{
        cursor: pointer;
        z-index: 10;
        display: block;
        font-size: 30px;
        margin-right: 10px;
    }
    .content-main .content{
        width: 100%;
    }
    .login-content{
        width: 95%;
    }
    .verify-code{
        width: 95%;
    }
    .form-login input:not(input[type='submit']), .register-form input:not(input[type='submit']) {
        width: 95%;
    }
    .login-content .flex  span{
        font-size: 14px;
    }
    .table{
        padding: 10px 5%;
    }
    .table p{
        flex-grow: 1;
    }
    .table{
        justify-content: space-around;
    }
    .table a{
        margin-top: 10px;
        margin-bottom: 4px;
    }
    .userstable a{
        margin: 0;
    }
    .userstable > .flex p{
        margin: 0;
    }
    .slidertable > .w50{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .config-site > div > input, .config-site > input, .config-site > div > textarea{
        width: 95%;
    }
}